<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head') %>

<body class="container">

    <%- include('../partials/header') %>

    <main>
        <div class="jumbotron.fluid container">
            <h1 class="display-4">About me</h1>
            <p class="lead">Hi, I'm Matheus Willock. Software Developer in Meli. </p>
        </div>
    </main> 

    <%- include('../partials/footer') %>

    
</body>
</html>